minalac-generator-geol/target/
minalac-generator-geol/.idea/
minalac-generator-geol/src/main/java/test/
.metadata/
minalac-generator-geol/.project
minalac-generator-geol/.classpath
minalac-generator-geol/.settings/

